// @author Art Schell
@import '~bootstrap/scss/bootstrap.scss';
.GraphInput {
    // The component should take up the maximum available space
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    text-align: left;

    & textarea {
        height: 100%;
        resize: none;
    }
    
    button.file-picker {
        margin-right: 20px;
        padding: 0px;
        width: min-content;
        white-space: nowrap;
    }

    button.file-picker>label {
        padding: 5px;
    }
}


.error-mask {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, .3);
    z-index: 100;
    
    .graph-input-error {
        color: red;
        position: absolute;
        width: 30%;
        height: 50%;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        background: white;
        border: 1px solid black;
        display: flex;
        flex-direction: column;
        padding: 1rem;
        
        span {
            &.filename {
                color: black;
                font-weight: bold;
                margin: 0 auto;
            }

            margin: 1rem auto;
        }
        
        button {
            width: 30%;
            margin: 1rem auto 0;
            padding: 5%;
            top:auto;
            
        }
    }
}
