// @author Art Schell

.Algorithm {
    // The component should take up the maximum available space
    width: 100%;
    height: 100%;

    // The GraphViewer takes up 70% of the vertical space while the GraphInput takes up 30%
    display: flex;
    flex-direction: column;

    &>.AlgorithmInput {
        flex: 70;
    }
    &>.AlgorithmControls {
        flex: 10;
        justify-content: center
       
    }
    &>.AlgorithmConsole {
        flex: 20;
    }

    & pre {
        height: 100%;
        resize: none;
        margin: 0px
    }

}

.alg-error-mask {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, .3);
    z-index: 100;
    
    .alg-parse-error {
        color: red;
        position: absolute;
        width: 50%;
        height: 70%;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        background: white;
        border: 1px solid black;
        display: flex;
        flex-direction: column;
        padding: 1rem;
        
        span {
            &.alg-filename {
                color: black;
                font-weight: bold;
                margin: 0 auto;
            }

            margin: 1rem auto;
        }
        
        button {
            width: 30%;
            margin: 1rem auto 0;
            padding: 0.5rem 0;
        }

        .alg-code-block-container {
            height: 100%;
            overflow: auto;
            border: 1px solid #4d4d4d;
            background-color: #f1f1f1;
            color: #4d4d4d;
        }
    }
}