// @author Art Schell

.Algorithm {
    // The component should take up the maximum available space
    width: 50%;
    height: 100%;

    // The GraphViewer takes up 70% of the vertical space while the GraphInput takes up 30%
    display: flex;
    flex-direction: column;

    &>.AlgorithmInput {
        flex: 65;
    }
    &>.AlgorithmButton {
        flex: 10;
        justify-content: center
       
    }
    &>.AlgorithmConsole {
        flex: 25;
    }

}