// @author Rishabh Karwa
@import '~bootstrap/scss/bootstrap.scss';
.AlgorithmControls {
    // The component should take up the maximum available space
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2%;

    &>.arrow {
        
        //max-height: 200%;
        flex-shrink: 1;
        align-items: center;
        justify-items: center;
        background-color: #79c7ff;

        button:disabled, button[disabled]{
            img {
                opacity: 1;
            }
        }

        border-radius: 10px;
    }

    &>.stepcounter {
        flex-shrink: 1;
        text-align: center;

        font-size: 200%;
        font-family: 'Courier New', Courier, monospace;
        font-weight: 1000;

        background-color: #ffffff;
        border: 2px solid #6e6e6e;
        border-radius: 10px;

        &>p {
            margin: 10px;
        }
    }

}
