// @author Art Schell

.AlgorithmInput {
    // The component should take up the maximum available space
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    text-align: left;

    & textarea {
        height: 100%;
        resize: none;
    }
}