// @author Art Schell

.PromptTest {
    // The component should take up the maximum available space
	width: 100%;
	height: 90%;
	
	// Makes each pane of the window take up half the screen
	display: flex;
	gap: 1%;

	// Make test instructions scrollable
	&>.scrollable {
		flex: 1;
		overflow-y: auto;
		border: 2px solid #6e6e6e;
		border-radius: 10px;
		background-color: #ffffff;
		padding: 10px;
	}

	&>.App {
		flex: 2;
	}
}