// @author Art Schell

.StepTest {
    // The component should take up the maximum available space
	width: 100%;
	height: 100%;
	
	// Makes each pane of the window take up half the screen
	display: flex;

	// Make test instructions scrollable
	&>.scrollable {
		flex: 1;
		overflow-y: auto;
	}

	&>.App {
		flex: 2;
	}
}